 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">First Web App</h1>
        <strong><nav>
          <ul class="menu">
            <!--Links to home.html-->
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <!--Links to about.html-->
            <li><a href="{{ url_for('about') }}">About</a></li>
            <!--Link for bullshit.html-->
            <li><a href={{url_for('bullshit')}}>Bullshit</a></li>
            <!--Link fr justin.html-->
            <li><a href={{url_for('justin')}}>Justin</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>