<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>Stock Advise - Our Team</title>
<link rel="stylesheet" type="text/css" href="../static/styles/style.css" media="all" />
</head>
<body>
	<div id="header">
			<div id="logo">
				<a href="home.html"><img src="../static/images/logo2.jpg" alt="" /></a>
			</div>		
			<ul>
				<li><a href="{{ url_for('home') }}"><span>home</span></a></li>
				<li class="selected"><a href="{{ url_for('about') }}"><span>our team</span></a></li>
				<li><a href="{{ url_for('services') }}"><span>top stocks</span></a></li>
				<li><a href="{{ url_for('products') }}"><span>search</span></a></li>
				<li><a href="{{ url_for('login') }}"><span>login</span></a> </li>
			</ul>
	</div>
	<div id="body">
		<div class="about">
			<h1>Meet Our Team</h1>
			<div>
				<h2>Ethan Hudak</h2>
				<img src="../static/images/EthanPortrait.jpg" alt="" />
				<p>Ethan lives in South Jersey, who has a lot of interest in Machine Learning as well as Cyber Security. Ethan will be graduating with a BS in Computer Science with a concentration in Cyber Security. Upon Graduation, he will be working for one of the largest companies in the aerospace, defense, security, and technologies industry.</p>
				<div></div>

				<h2>Michael McGroary</h2>
				<img src="../static/images/michaelportrait.jpg" alt="" />
				<p>Aspiring Game Dev who studied computer science at Rowan University, likes to mix an element of art into computer programming, likes to work on graphic design and modeling.</p>
				<div></div>

				<h2>Josh Mizanin</h2>
				<img src="../static/images/defaultPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Justin Graf</h2>
				<img src="../static/images/JustinGPortrait.jpg" alt="" />
				<p>Studied computer science at Rowan University. Always had a passion for working with computers since a young age.</p>
				<div></div>

				<h2>Justin Jarosz</h2>
				<img src="../static/images/JaroszPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Niccholas Spano IV</h2>
				<img src="../static/images/SpanoPortrait2.jpg" alt="" />
				<p>My name is Nicholas Spano IV i'm a senior computer science major with a concentration in cyber security. I sever as the team leader and have had a passion for computer science since a young age. I enjoy solving complex project and working toward a common goal.</p>
				<div></div>

				<h2>Karan Joshi</h2>
				<img src="../static/images/defaultPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>
			</div>
		</div>
	</div>
		<div id="footer">
			<div>
				<div>
					<h3>america</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>		
				<div>
					<h3>europe</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>	
				<div>
					<h3>canada</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>	
				<div>
					<h3>middle east</h3>
					<ul>
						<li>457-380-1654 main</li>				
						<li>257-301-9417 toll free</li>
					</ul>			
				</div>	
				<div>
					<h3>follow us:</h3>
					<a class="facebook" href="http://facebook.com/freewebsitetemplates" target="_blank">facebook</a>		
					<a class="twitter" href="http://twitter.com/fwtemplates" target="_blank">twitter</a>
				</div>	
			</div>
			<div>
				<p>&copy Copyright 2020. All rights reserved</p>
			</div>
		</div>
	</body>
</html>
