<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>Stock Advise - Our Team</title>
<link rel="stylesheet" type="text/css" href="../static/styles/style.css" media="all" />
</head>
<body>
	<div id="header">
			<div id="logo">
				<a href="home.html"><img src="../static/images/logo2.jpg" alt="" /></a>
			</div>		
			<ul>
				<li><a href="{{ url_for('home') }}"><span>home</span></a></li>
				<li class="selected"><a href="{{ url_for('about') }}"><span>our team</span></a></li>
				<li><a href="{{ url_for('services') }}"><span>top stocks</span></a></li>
				<li><a href="{{ url_for('products') }}"><span>search</span></a></li>
				<li><a href="{{ url_for('login') }}"><span>login</span></a> </li>
			</ul>
	</div>
	<div id="body">
		<div class="about">
			<h1>Meet Our Team</h1>
			<div>
				<h2>Ethan Hudak</h2>
				<img src="../static/images/EthanPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Michael McGroary</h2>
				<img src="../static/images/michaelportrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Josh Mizanin</h2>
				<img src="../static/images/defaultPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Justin Graf</h2>
				<img src="../static/images/JustinGPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Justin Jarosz</h2>
				<img src="../static/images/defaultPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Niccholas Spano IV</h2>
				<img src="../static/images/defaultPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>

				<h2>Karan Joshi</h2>
				<img src="../static/images/defaultPortrait.jpg" alt="" />
				<p>Insert Description Here</p>
				<div></div>
			</div>
		</div>
	</div>


	</body>
</html>
