<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>Stock Advise - Home</title>
<link rel="stylesheet" type="text/css" href="../static/styles/style.css" media="all" rel="icon" href="http://example.com/favicon.png"/>

</head>
<body>
	<div id="header">
			<div id="logo">
				<a href="home.html"><img src="../static/images/logo2.jpg" alt="" /></a>
			</div>		
			<ul>
				<li class="selected"><a href="{{ url_for('home') }}"><span>home</span></a></li>
				<li><a href="{{ url_for('about') }}"><span>our team</span></a></li>
				<li><a href="{{ url_for('services') }}"><span>top stocks</span></a></li>
				<li><a href="{{ url_for('products') }}"><span>search</span></a></li>
				<li><a href="{{ url_for('login') }}"><span>login</span></a> </li>
			</ul>
	</div>
	<div id="body">
		<div class="header">
			<div>
				<ul>
					<li><img src="../static/images/baliga2.jpg" alt="" /></li>
					<li><img src="../static/images/lineGraphIcon.jpg" alt="" /></li>
					<li><img src="../static/images/graph.jpg" alt="" /></li>
				</ul>		
				<div>
					<h3>WELCOME TO STOCK ADVISE</h3>
					<p>We are here to help you make well informed decisions in the highly volitile world of buying and selling stocks. If you haven't already, please hit the login button to login or create an account.</p>
				</div>
			</div>
		</div>
		<div class="body">
			<div class="section">
				<a href="services.html">
				<img src="../static/images/servicegraph2.jpg" alt="" />
				Stock highlights
				</a>			
			</div>	
			<div class="article">
				<img src="../static/images/graph2.jpg" alt="" />
				<h4>STOCKADVISE IS HERE TO HELP YOU WITH ALL YOUR STOCK NEEDS</h4>
				<p>We utilize machine learning to accurately predict upcomming stock information based on stock history for companies and give our recommendations for you to make the most profit out of your investment.</p>
			</div>
			<div class="section">
				<a href="about.html"><img src="../static/images/globe.jpg" alt="" />about our team</a>
			</div>		
		</div>

		<div>
			<h4>TWEETS ABOUT CURRENT TOP STOCK COMPANIES</h4>
		</div>

		<div class="footer">
			<div class="section">
				<a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" href="https://twitter.com/The211th/timelines/1250116891307376640?ref_src=twsrc%5Etfw">AAPLE - - Curated tweets by The211th</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="featured">
				<a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" href="https://twitter.com/The211th/timelines/1250118383988887553?ref_src=twsrc%5Etfw">MFST - Curated tweets by The211th</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="section">
				<a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" href="https://twitter.com/The211th/timelines/1250116721253457923?ref_src=twsrc%5Etfw">GOOGL - Curated tweets by The211th</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<h3>america</h3>
				<ul>
					<li>457-380-1654 main</li>				
					<li>257-301-9417 toll free</li>
				</ul>			
			</div>		
			<div>
				<h3>europe</h3>
				<ul>
					<li>457-380-1654 main</li>				
					<li>257-301-9417 toll free</li>
				</ul>			
			</div>	
			<div>
				<h3>canada</h3>
				<ul>
					<li>457-380-1654 main</li>				
					<li>257-301-9417 toll free</li>
				</ul>			
			</div>	
			<div>
				<h3>middle east</h3>
				<ul>
					<li>457-380-1654 main</li>				
					<li>257-301-9417 toll free</li>
				</ul>			
			</div>	
			<div>
				<h3>follow us:</h3>
				<a class="facebook" href="http://facebook.com/freewebsitetemplates" target="_blank">facebook</a>		
				<a class="twitter" href="http://twitter.com/fwtemplates" target="_blank">twitter</a>
			</div>	
		</div>
		<div>
			<p>&copy Copyright 2020. All rights reserved</p>
		</div>
	</div>
</body>
</html>